body {
  font-family: system-ui, sans-serif;
  position: relative;
  z-index: 1;
  background: #000;
  overflow-x: hidden;
   background: url("gif.gif") center center / cover no-repeat;
}

header {
  padding: 20px 0;
}

.main-container {
  max-width: 900px;
  margin: 0 auto;
  padding: 30px;
}

.search-input {
  width: 100%;
  padding: 15px;
  background: #161616;
  border: none;
  color: white;
  border-radius: 6px;
  font-size: 16px;
}

.search-results a {
  display: block;
  padding: 10px;
  background: #141414;
  margin-top: 5px;
  border-radius: 6px;
  text-decoration: none;
  color: white;
}

.hidden {
  display: none;
}


#historyList {
  list-style: none;
  padding: 0;
  margin-top: 30px;
}

.history-item {
  background: #131313;
  padding: 13px;
  border-radius: 6px;
  margin-bottom: 8px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.history-item a {
  text-decoration: none;
  color: #cfcfcf;
  word-break: break-all;
}


.btn-box {
  display: flex;
  gap: 5px;
}

.btn-history {
  background: #2b2b2b;
  border: none;
  color: white;
  padding: 6px 12px;
  border-radius: 6px;
  cursor: pointer;
}

.btn-history:hover {
  background: purple;
}
.header-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #121212;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

a.header-bar .btn {
  margin: 0;
  animation: none;
}

a.header-bar .btn svg {
  margin: 0;
  animation: none;
}

hrefer .btn {
  margin: 0;
  animation: none;
  animation: none;
}

.btn-return {
  background: transparent;
  color: #5ac8ff;
  font-weight: 700;
  border: none;
  text-decoration: none;
  font-size: 18px;
    cursor: pointer;
    transition: .3s;
   
}
.btn-return:hover {
  text-decoration: underline;
}

h2 {
  margin-top: 40px;
  margin-bottom: 20px;
    font-size: 24px;
    font-weight: 700;
    color: #5ac8ff;
    text-shadow: 0 0 6px rgba(90, 200, 255, 0.5);
}

h1 {
  font-size: 32px;
  font-weight: 700;
  color: #38BDF8;
  margin-bottom: 10px;
  text-shadow: 0 0 10px rgba(56,189,248,0.5);
}

p{
    font-size: 16px;
    color: #B0B0B0;
    line-height: 1.5;
    margin-bottom: 20px;
}

